.bold-84{
    font-size: 84px;
    font-weight: bold;
    margin: 0;
}
.italic-25{
    font-size: 25px;
    font-style: italic;
}
.regular-30{
    font-size: 30px;
}
.bold-30{
    font-size: 30px;
    font-weight: bold;
}
.regular-17{
    font-size: 17px;
}
.bold-17{
    font-size: 17px;
    font-weight: bold;
}
.bold-50{
    font-size: 50px;
    font-weight: bold;
}
.bold-25{
    font-size: 25px;
    font-weight: bold;
}
.regular-25{
    font-size: 25px;
}
.bold-72{
    font-size: 72px;
    font-weight: bold;
}