:root{
    --clr1: #005396;
    --clr2: #2cc0d3;
    --clr3: #f3f3f3;
}

#introduction{
    color: var(--clr1);
    text-align: left;
}

.intro-heading{
    padding-top: 120px;
    margin: 0;
}
.intro-heading-description{
    padding-top: 18px;
    margin: 0;
}
.para-package{
    display: grid;
    grid-template-columns: 768px auto;
}
.intro-para{
    max-width: 768px;
    /*margin: auto;*/
    padding-top: 72px;
    margin: 0;
}
.packages{
    display: grid;
    grid-template-rows: auto auto;
    /*grid-template-columns: repeat(2, 1fr);*/
    place-items: end;
    /*max-width: 1094px;*/
    /*margin: auto;*/
    padding-top: 73px;
    padding-bottom: 100px;

}

.resume-package{
    border: 3px solid var(--clr1);
    border-radius: 20px;
    width: 400px;
    /*margin: auto;*/
    transition: 250ms;
}
.resume-package:hover{
    transform: scale(1.02);
    -webkit-box-shadow: 6px 8px 5px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 6px 8px 5px -5px rgba(0,0,0,0.5);
    box-shadow: 6px 8px 5px -5px rgba(0,0,0,0.5);
}
.resume-package a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr1);
    text-decoration: none;
}
.resume-package img{
    height: 100px;
    /*padding: 35px;*/
    padding: 0 17px;
}
.resume-package p{
    /*padding-left: 17px;*/
}
.buyside{
    background-color: var(--clr1);
}
.buyside p{
    color: #fff;
}
.package-info{
    max-width: 400px;
}
#how-it-works{
    background-color: var(--clr3);
    text-align: center;
}
.how-it-works-steps{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 90px;
    padding-bottom: 90px;
    grid-column-gap: 10px;
}
.how-it-works-heading{
    padding-top: 96px;
    padding-bottom: 12px;
    border-bottom: 3px solid var(--clr1);
    width: max-content;
    margin: auto;
    position: relative;
}
.how-it-works-heading:after{
    content:'';
    display: block;
    position: absolute;
    width: 50%;
    bottom: -5px;
    right: 0px;
    border-bottom: 8px solid var(--clr1);
}
.how-it-works-steps img{
    height: 110px;
}
.how-it-works-steps p{
    text-align: center;
    max-width: 350px;
}
.scroll{
    padding-bottom: 26px;
    margin: 0;
}
#intro-video{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(44,192,211,1) 50%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro-video-link{
    margin-top: 100px;
    margin-bottom: 70px;
    place-self: center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.24);
}
#intro-video a{
    color: var(--clr2);
    background-color: white;
    padding: 24px 117px;
    border: 5px solid var(--clr2);
    border-radius: 20px;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    margin-bottom: 90px;
}
#resume-review-experts .container{
    padding-bottom: 200px;
    border-bottom: 1px solid var(--clr1);
    max-width: 1364px;
    margin: auto;
}
.resume-review-experts-heading{
    padding-top: 68px;
    width: max-content;
    margin: auto;
    padding-bottom: 60px;
    position: relative;
}

.expert-card{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr1);
    color: white;
    max-width: 350px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding-top: 54px;
    padding-bottom: 60px;
    margin: auto;
}
.expert-card *{
    margin: 0;
}
.expert-name{
    margin-bottom: 44px;
}
.expert-intro{
    max-width: 240px;
    width: 100%;
    margin: auto;
    min-height: 160px;
}
.expert-link{
    margin-top: 32px;
}
.expert-card a{
    color: var(--clr1);
    background-color: #fff;
    border-radius: 15px;
    padding: 14px 44px;
    text-decoration: none;
    margin-top: 30px;
}
.clients-heading{
    max-width: max-content;
    margin: 90px auto 105px auto;
    /*border-bottom: 3px solid var(--clr1);*/
    position: relative;
}
.client-icons{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.client-icons img{
    max-height: 90px;
}
.upper-footer{
    background-color: var(--clr1);
    padding: 50px 0;
}
.upper-footer .container{
    color: white;
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    max-height: 150px;
}
.icon-and-address{
    display: flex;
}
.icon-and-address p{
    padding-left:  110px;
}
.footer-links{
    max-width: 450px;
    width:100%;
    display: flex;
    flex-direction: column;
}
.footer-links ul{
    list-style: none;
    padding: 0;
}
.footer-links a{
    color: white;
    text-decoration: none;
}
.quicklinks{
    display: flex;
    justify-content: space-between;
}
.social-links{
    display: flex;
    place-self: flex-end;
    justify-content: space-between;
    max-width: 220px;
    width: 100%;
}
.lower-footer{
    background-color: var(--clr3);
    text-align: left;
}
.lower-footer p{
    color: #696969;
    margin: 0;
    padding: 30px 0;
}